* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #adadad;
}

.div__main {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.celda {
    width: 128px;
    height: 128px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px
}

.celda1,
.celda2,
.celda4,
.celda5 {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}


.celda3,
.celda6 {
    border-bottom: 2px solid #000;
}

.celda7,
.celda8 {
    border-right: 2px solid #000;
}

.button {
    margin-top: 20px;
}

.messageCurrentPlayer {
    width: 250px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px 0px rgba(175, 175, 175, 1);
    position: relative;
    left: 40%;
    text-align: center;
    padding: 12px;
}

#messageWinnerPlayer {
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 10px 10px 0px rgba(175, 175, 175, 1);
    font-weight: 600;
    font-size: 20px;
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 30px;
    display: none;
    animation: fadeIn 0.5s ease-out forwards;
    background-color: #fff;
    z-index: 10;
}

.blur {
    filter: blur(5px);
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}