.messageNoWin {
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 10px 10px 0px rgba(175, 175, 175, 1);
    color: #a41414;
    font-size: large;
    font-weight: 500;
    position: relative;
    bottom: 5%;
    display: none;
}

@media only screen and (max-width: 800px) {
    .messageNoWin {
        bottom: auto;
        margin-top: 5%;
        box-shadow: -1px 4px 5px 0px rgba(175, 175, 175, 1);
    }
}